#default
fastapi==0.104.1
pydantic==2.4.2
uvicorn==0.24.0

#jose library for JSON Web Tokens (JWT)
python-jose==3.3.0

# bcrypt
bcrypt==3.2.0

#passlib
passlib==1.7.4  

#python multipart
python-multipart==0.0.5

#requests
requests==2.31.0

#certifi
certifi==2023.11.17

#pymongo
pymongo==4.6.1

#typing
typing_extensions==4.8.0